@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@code{
    [Parameter]
    public string NewCompany { get; set; } = "block";
    [Parameter]
    public string Qualufied { get; set; } = "none";
    [Parameter]
    public string NotQualified { get; set; } = "none";
    public int x = 0;
}
<div class="qualification">
    <div class="RQ new-companies" @onclick="openNewCompaniesDiv">
        <div class="RTitle title-new-companies">
            Новые компании
        </div>
        <div class="RContent content-new-companies" style="display:@NewCompany">
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
        </div>
    </div>
    <div class="RQ qualified" @onclick="openQualifiedDiv">
        <div class="RTitle title-qualified">
            Квалифицированные
        </div>
        <div class="RContent content-qualified" style="display:@Qualufied">
            ATM ATM Pty Ltd <br />
            A.C.N. 605 479 678 Pty Ltd <br />
            24-pay s.r.o <br />
        </div>
    </div>
    <div class="RQ not-qualified" @onclick="openNotQualifiedDiv">
        <div class="RTitle title-not-qualified">
            Не валифицированные
        </div>
        <div class="RContent content-not-qualified" style="display:@NotQualified">
            elementP @{++x;} z <br />
            elementP @{++x;} z <br />
            elementP @{++x;} z <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
            elementP @{++x;} x <br />
        </div>
    </div>
</div>

@code{
    private void openNewCompaniesDiv()
    {
        NewCompany = "block";
        Qualufied = "none";
        NotQualified = "none";
    }
    private void openQualifiedDiv()
    {
        NewCompany = "none";
        Qualufied = "block";
        NotQualified = "none";
    }
    private void openNotQualifiedDiv()
    {
        NewCompany = "none";
        Qualufied = "none";
        NotQualified = "block";
    }
}
