<div class="controls">
    <div class="flex-center not-q-div">
        <button>Квалификацию не прошёл</button>
    </div>
    <div class="flex-center q-div">
        <button>Квалифицировать как клиента</button>
    </div>
</div>

@code {

}
