@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using CRM.BLL.DTO
@using CRM.BLL.Services
@inject CRM.BLL.Interfaces.ICompanyService companyService
@inject CRM.BLL.Services.SelectedItemService SelectService
<div class="controls">
    <div class="flex-center not-q-div">
        <button @onclick="setNotQualify">Квалификацию не прошёл</button>
    </div>
    <div class="flex-center q-div">
        <button @onclick="setQualify">Квалифицировать как клиента</button>
    </div>
</div>

@code {
    private void setQualify()
    {
        companyService.SetQualified(SelectService.GetId());
        SelectService.SetId(0);
    }
    private void setNotQualify()
    {
        companyService.SetNotQualified(SelectService.GetId());
        SelectService.SetId(0);
        
    }
}
