@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using CRM.BLL.DTO
@using CRM.BLL.Services
@using System.Threading;
@inject CRM.BLL.Interfaces.ICompanyService companyService
@inject CRM.BLL.Services.SelectedItemService SelectService
@inject CRM.RAZOR.Mappings.CompanyMap CompanyMap
@inject CRM.BLL.Interfaces.ILogService logService
@inject CRM.BLL.Services.TempService TempService
@inject CRM.BLL.Services.LogTemp LogTemp
<div class="controls">
    <div class="flex-center not-q-div">
        <button id="i1" @onclick="setNotQualify" disabled="@IsDisabled">Квалификацию не прошёл</button>
    </div>
    <div class="flex-center q-div">
        <button @onclick="setQualify" disabled="@IsDisabled">Квалифицировать как клиента</button>
    </div>
</div>

@code {
    public bool IsDisabled { get; set; }
    private async void setQualify()
    {
        int companyId = SelectService.GetId();
        await companyService.SetQualified(companyId);

        var company = await companyService.GetCompany(companyId);
        await AddLog(true, company.TradingName);
        await SelectService.UpdateCompanies();
        await CompanyMap.UpdateCompanies();
        SelectService.SetId(0);
        pause();

    }
    private async void setNotQualify()
    {
        int companyId = SelectService.GetId();
        await companyService.SetNotQualified(companyId);

        var company = await companyService.GetCompany(companyId);
        await AddLog(false, company.TradingName);
        await SelectService.UpdateCompanies();
        await CompanyMap.UpdateCompanies();
        SelectService.SetId(0);
        pause();
    }
    async void pause()
    {
        IsDisabled = true;
        await InvokeAsync(StateHasChanged);
        Thread.Sleep(1200);
        IsDisabled = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task AddLog(bool IsQualify, string TradingName)
    {
        if (IsQualify)
        {
            LogDTO logDTO = new LogDTO
            {
                Action = "Изменил статус компании " + TradingName + " на Квалифицированный",
                UserId = TempService.CurrentUser.Id
            };
            await logService.AddLog(logDTO);
        }
        else
        {
            LogDTO logDTO = new LogDTO
            {
                Action = "Изменил статус компании " + TradingName + " на НЕ квалифицированный",
                UserId = TempService.CurrentUser.Id
            };
            await logService.AddLog(logDTO);
        }
        await LogTemp.UpdateLogs();
    }
}
