@using System.Net.Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject CRM.BLL.Services.TempService TempService



<div class="flex-center user">
    @if (TempService.CurrentUser != null)
    {
        @TempService.CurrentUser.Email <br />
        <a href="account/logout">Выйти</a>
        
    }
    else
    {
        <h1>Проблемы с авторизацией</h1>
    }
</div>

@code {

}
