@using System.Net.Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using CRM.BLL.DTO
@inject CRM.BLL.Services.TempService TempService
@inject CRM.BLL.Interfaces.ILogService logService
@inject CRM.BLL.Services.TempService TempService
@inject CRM.BLL.Services.LogTemp LogTemp



<div class="flex-center user">
    @if (TempService.CurrentUser != null)
    {
        @TempService.CurrentUser.Email <br />
        <a @onclick="AddLog" href="account/logout">Выйти</a>

    }
    else
    {
        <h1>Проблемы с авторизацией</h1>
    }
</div>

@code {
    private async Task AddLog()
    {
        LogDTO logDTO = new LogDTO
        {
            Action = "Вышел из системы",
            UserId = TempService.CurrentUser.Id
        };
        await logService.AddLog(logDTO);
        await LogTemp.UpdateLogs();
    }
}
