*{
    color:white;
    font-size: 20px;

}
.title{
    color:black;
    font-size:23px;
}
a{
    color:white;
}
a:visited{
    color:yellow;
}
header {
    min-height: 100px;
    background-color: red;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b b b c";
}
.left {
    grid-area: a;
    min-height: 230px;
    height: calc(100vh - 110px);
    background-color: #8bcfea;
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
}

.title-new-companies {
    grid-area: title-new-companies;
}

.title-qualified {
    grid-area: title-qualified;
}

.content-new-companies {
    grid-area: content;
}
.content{
    background:#0926d7;
}
.content-qualified {
    grid-area: content;
}

.content-not-qualified {
    grid-area: content;
}

.title-not-qualified {
    grid-area: title-not-qualified;
}

.center {
    grid-area: b;
    min-height: 230px;
    height: calc(100vh - 110px);
    background-color: royalblue;
}

.right {
    grid-area: c;
    min-height: 230px;
    height: calc(100vh - 110px);
    background-color: saddlebrown;
}
