*{
    box-sizing: border-box;
}
body {
    color: white;
    font-size: 30px;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .row {
    height: 1%;
}

.row {
    display: block;
}
/* close commented backslash hack */
.inner-content {
    min-height: 300px;
    background: #232758;
}
.content {
    width: 60%;
    float: left;
}
header{
    height: 200px;
    background: #232758;
    margin-bottom:10px;
}
.inner-sidebar-1 {
    background: #232758;
    min-height: 300px;
}

.sidebar-1 {
    background: red;
    width: 20%;
    float: left;
    padding-right: 10px;
}
.inner-sidebar-2 {
    background: #232758;
    min-height: 300px;
}

.sidebar-2 {
    background: red;
    width: 20%;
    float: left;
    padding-left: 10px;
}
footer {
    height: 200px;
    background: #232758;
    margin-top: 10px;
}