*{
    box-sizing: border-box;
}
body {
    color: white;
    font-size: 20px;
    height: 100vh;
}
.RTitle{
    font-size:23px;
    color: black;
    background: #40b470;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: inline-block;
    
}
/* start commented backslash hack \*/
* html .row {
    height: 1%;
}

.row {
    display: block;
}
/* close commented backslash hack */
.inner-content {
    min-height: 300px;
    background: #232758;
}
.content {
    width: 60%;
    height: 100%;
    float: left;
}
.container{
    height: 80%;

}
.sidebar {
    height:100%;
}
.inner-header {
    margin-bottom: 10px;
    background: #232758;
    min-height: 50px;
}
header {
    height: 10%;
}
.inner-sidebar-1 {
    background: #232758;
    min-height: 300px;
    height: 100%;
}

.sidebar-1 {
    background: red;
    width: 20%;
    float: left;
    padding-right: 10px;
}
.inner-sidebar-2 {
    background: #232758;
    height:50%;
}
.inner-sidebar-22 {
    background: #232758;
    height: 50%;
}

.sidebar-2 {
    background: red;
    width: 20%;
    float: left;
    padding-left: 10px;
}
.inner-footer {
    background: #232758;
    margin-top: 10px;
    min-height: 50px;
}
footer {
    height: 10%;
}
.RContent{
    height:90%;
}
.qualification{
    height:100%;
    background: #42a8a2;
}
.new-companies{

}
.qualified{

}
.not-qualified{

}